/*
*  Variables
*/
* {
   --height-header: 62px;
   --height-footer: 38px;
   --container-body-margin: 0.5rem 2rem;
   --container-body-padding: 0.25rem;
   --row-gap: calc(10vmin + 5px);
   /*--clr-AA: rgb(102, 252, 241);*/
   /*--clr-AB: rgb(69, 149, 143);*/
   /*--clr-BA: rgb(225, 153, 19);*/
   /*--clr-BB: rgb(141, 95, 34);*/
   /*--clr-CA: rgb(139, 57, 187);*/
   /*--clr-CB: rgb(69, 34, 111);*/
   --clr-AA: rgb(253, 41, 122);
   --clr-AB: rgb(163, 47, 88);
   --clr-CA: rgb(243, 165, 21);
   --clr-CB: rgb(141, 95, 34);
   --clr-BA: rgb(139, 57, 187);
   --clr-BB: rgb(69, 34, 111);

   --clr-border-light: rgb(42, 48, 52);
   --clr-border-dark: rgb(15, 15, 23);

   --clr-offsetA: rgb(135, 135, 139);
   --clr-offsetB: rgb(78, 78, 80);
   --clr-success: rgb(41, 156, 57);
   --clr-fail: rgb(156, 41, 58);

   --clr-text-h: rgb(231, 232, 243);
   --clr-text-light: rgb(250, 250, 250);
   --clr-text-accent: var(--clr-AA);
   --clr-text-dark: rgb(13, 13, 14);

   --clr-bg-header: rgb(23, 23, 26);
   --clr-bg-dropdown: rgba(21, 21, 24, 0.9);
   --clr-bg-dropdown-accent: rgba(59, 59, 66, 0.8);
   --clr-bg-content: rgb(37, 37, 42);
   --clr-bg-content-accent: rgb(33, 33, 36);
   --clr-bg-content-dark: rgb(29, 29, 31);
   --clr-bg-footer: var(--clr-bg-header);
   --clr-bg-hover: rgb(43, 43, 49);
   --clr-bg-btn: rgba(16, 16, 19, 0.4);

   --size-h1: 1.3em;
   --size-h2: 1.2em;
   --size-h3: 1.1em;
   --size-h4: 1.0em;
   --size-p: 1em;
   --size-button: 1.0rem;
   --gradient-A: linear-gradient(45deg, var(--clr-CA), var(--clr-AA)) 1;
   --gradient-B: -webkit-linear-gradient(top left, var(--clr-CA), var(--clr-AA));
   --badge-radius: 0.25rem;
}

/*
*  Defaults
*/
* {
box-sizing: border-box;
}

body {
   min-height: 100vh;
   background: #1f1f1f url("../static/site/media/bg_01.jpg") no-repeat;
   background-size: auto;
   font-family: 'Montserrat', sans-serif; /* 300 / 400 / 500 / 700 */
   font-weight: 400;
   font-size: 1em;
   color: #f8f8f8;
   margin: 0;
   padding: 0;
}
h1 {
   font-size: var(--size-h1);
   font-weight: 500;
   margin: 0;
}
h2 {
   font-size: var(--size-h2);
   font-weight: 400;
   margin: 0;
}
h3 {
   font-size: var(--size-h3);
   font-weight: 400;
   margin: 0;
}
p {
   font-size: var(--size-p);
   margin: 0;
   font-family: 'Work Sans', sans-serif; /* 300 / 400 */
   font-weight: 300;
   /*border: solid #13e1aa 1px;*/
}
a {
   color: var(--clr-AB);
}
a:visited {
   color: var(--clr-AA);
}

/***********************************************************************
 *                Layout Settings
 ***********************************************************************/
/* Misc */
.hidden {
   display: none;
}
/* Main */
.main {
   min-height: 100vh;
   display: grid;
   grid-template-areas:
      "header header header"
      ". content ."
      "footer footer footer";
   grid-template-columns: 15vw 1fr 15vw;
   grid-template-rows: var(--height-header) 1fr var(--height-footer);
   margin: 0;
}

/* Header */
.header {
   grid-area: header;
   display: grid;
   grid-template-areas: ". header-inner .";
   grid-template-columns: inherit;
   grid-template-rows: inherit;
}
.header-inner {
   grid-area: header-inner;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-column-gap: 1rem;
}
.header-inner-left {
   grid-column: 1 / span 2;
   display: inline-flex;
   justify-content: flex-start;
   align-items: center;
}
#logo {
   display: inline-flex;
   max-height: calc(var(--height-header) - 1rem);
   max-width: 100%;
}

.header-inner-center {
   grid-column: 3 / span 4;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
}
#nav-list {
   display: inline-flex;
}
.header-inner-center ul {
   padding: 0;
   display: inline-flex;
   justify-content: center;
   margin: 0;
   height: 100%;
}
.header-inner-center li {
   display: inline-flex;
}
.header-inner-center a {
   display: inline-flex;
   justify-content: space-evenly;
   align-items: center;
   width: 7.5rem;
}

/* Nav Bar Search */
#nav-search-input {
   padding: 4px;
   align-items: center;
   /*display: inline-flex;*/
   width: 23rem;
   max-height: 2rem;
   margin: 0;
   display: none;
}

/* Nav Bar Search Results */
.search-results {
   /*display: none;*/
   position: fixed;
   top: var(--height-header);
   z-index: 1;
   width: 30rem;
   background-color: #1d1717;
   min-height: 1.5rem;
}
.search-results-inner ul {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
}
.search-results-inner li {
   margin: 0.2rem 0 0.2rem 0.4rem;
}
/*.search-results-list li {*/
/*   display: inline-flex;*/
/*   flex-direction: column;*/
/*   align-items: center;*/
/*}*/

/* Right Header Area */
.header-inner-right{
   grid-column: 7 / span 2;
   display: inline-flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   gap: 0.8rem;
}
/*.header-inner-right a {
   display: inline-block;
}
.header-inner-right > .btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 6rem;
   height: 2.3rem;
   font-size: 1rem;
   font-weight: 600;
   text-decoration: none;
}*/

/* Header Inner Right - Notification Area */
.header-inner-right-notifications {
   position: relative;
   display: inline-block;
   font-size: 1.5em;
   height: inherit;
}

/* Icons */
.icon {
   padding: 0.5rem;
   margin: 0;
}
/* Notifications Icon */
.badge {
   -webkit-border-radius: var(--badge-radius);
   -moz-border-radius: var(--badge-radius);
   border-radius: var(--badge-radius);
   padding-left: var(--badge-radius);
   padding-right: var(--badge-radius);
   vertical-align: top;
   margin-left: -1.5rem;
   z-index: 1;
}

/* Account Dropdown Menu */
.dropdown-content {
   display: none;
   position: absolute;
   z-index: 1;
}
.dropdown-content a {
   display: inline-flex;
   flex-direction: column;
   padding: 0.8rem 0 0.8rem 0;
   align-items: center;
   width: inherit;
   height: inherit;
}
.dropdown-show {
   display: flex;
   flex: 1;
   right: 0;
   margin-top: 0.7rem;
   width: 13rem;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   align-content: stretch;
}

/* Content */
.content {
   grid-area: content;
   min-height: calc(100vh - var(--height-header) - var(--height-footer));
}
.content-container {
   margin: 1rem 1.2rem;
   /*border: solid var(--clr-AA) 1px;*/
}
.content-2col {
   margin: 1rem 1.2rem;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   column-gap: 3rem;
}
.no-margin {
   margin: 0 !important;
   padding: 0 !important;
}
.container-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Flashes */
.flash {
   margin: 0.6rem 1.2rem;
   padding: 0.3rem;
}

/************************************************************************/
/* Forms                                                                */
/************************************************************************/
.container-form {
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: min(70%, 460px);
}
.form-main {
   width: 100%;
}
.form-group {
   /*display: flex;*/
   /*flex-direction: column;*/
   /*!*margin: 2rem 0 0 0;*!*/
}

.container-sidebar-right .form-group {
   row-gap: 1.6rem;
}
.form-subgroup {

}
.form-group-field {
   width: 100%;
}
.form-group-field > .content-2col {
   margin: 1rem 0 0 0;
   padding: 0;
}
.form-remember {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.form-button-right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
fieldset.form-group-field {
   border: none;
}
.form-control-label {
   margin: 0;
   font-weight: 400;
   font-size: var(--size-p);
}
/*
   Form Labels
      fl-hint
*/

/*
   Generic Form Controls
      form-control, fc-generic, fc-upload
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
   -webkit-box-shadow: 0 0 0 30px var(--clr-bg-content) inset !important;
   -webkit-text-fill-color: var(--clr-text-light) !important;
}
/* Form Control */
.form-control {
   height: 2em;
   font-family: 'Work Sans', sans-serif;
   font-weight: 400;
   color: var(--clr-text-light);
   background: rgba(52, 56, 68, 0.15);
   border: solid var(--clr-offsetA) 1px;
}
.form-control:focus {
   background: rgba(52, 56, 68, 0.25);
   border: solid 1px;
   border-image: var(--gradient-A);
   outline-style: none;
}
/* Form Control - Generic */
.fc-generic {
   height: 1.4rem;
   width: 100%;
}
/* Form Label - Hint */
.fl-hint {
   font-size: 0.9em;
   margin: 0 0 0.4rem 0;
}
.fc-select option {
   background: var(--clr-bg-content-accent);
}

/*
   Upload Page Forms
*/
/* Upload Divs */
.upload-content {
   background-color: var(--clr-bg-content-accent);

}
.upload-content-header {
   background-color: var(--clr-bg-content-dark);
}
.upload-content-row {
   /*background-color: var(--clr-bg-content-accent);*/
   /*padding: 0.5rem 0.75rem 0.5rem 0.75rem;*/
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 2rem;
   padding: 0.25rem 0.75rem 0.75rem 0.75rem;
}
.upload-content-col {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: flex-start;
   gap: 1rem;
   padding: 0.25rem 0.75rem 0.75rem 0.75rem;
}
/* Text Styling */
.upload-header {
   margin: 0 0 0.5rem 0;
   padding: 0.5rem 0.75rem;
}
#h1-upload {
   padding: 0.5rem 0.75rem 0.5rem 0;
}
.fl-upload {
   font-size: 1em;
}
/* Form Control - Upload */
.fc-upload {
   display: flex;
   flex-direction: column;
   margin-top: 0.2rem;
   width: 100%;
   text-align: left;
   resize: none;
}
.fc-select {
   padding-top: 4px;
}
.fc-upload-radio {

}
#fc-nsfw {
   width: 1.6rem;
   height: 1.6rem;
   margin: 0;
   padding: 0;
}
#fc-summary {
   height: 3em;
}
#fc-desc {
   height: 40em;
}
/* Upload Control Widths */
#upload-basic-name {
   flex-basis: 30%;
}
#upload-basic-authors {
   flex-basis: 25%;
}
#upload-basic-version {
   flex-basis: 15%;
}
#upload-category-category {
   flex-basis: 35%;
}
#upload-category-nsfw {
   flex-basis: 35%;
}
#upload-desc-summary {
   width: 50%;
}
/* Form Group - Upload */
.fg-upload {
   margin: 0;
   padding: 0;
   border: none;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}




/*
Misc Forms
*/
.invalid-feedback {
   margin: 0.2rem 0 0 0;
   font-size: 0.75em;
   color: var(--clr-text-accent);
}
#forgot-password {
   display: flex;
   justify-content: center;
   margin: 1rem;
   font-family: 'Open Sans', sans-serif;
   font-size: 0.8em;
   font-weight: 400;
}
.invalid-form {
   border-bottom: solid rgb(90, 8, 35) 1px;
}
.form-check {
   font-family: 'Open Sans', sans-serif;
   font-size: 0.8em;
   font-weight: 400;
}








/************************************************************************/
/* Account Page                                                         */
/************************************************************************/
#account-header {
   margin: 0 0 0.8rem 0;
   text-align: center;
}

.container-sidebar {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   column-gap: 2rem;
}
.nav-sidebar-container {
   grid-column: 1 / span 1;
   display: block;
}
.nav-sidebar {
   border: solid var(--clr-AA) 1px;
   display: flex;
   flex-direction: column;
   min-width: 150px;
}
.nav-sidebar ul {
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;
   margin: 0;
   width: inherit;
}
.nav-sidebar li {
   display: inline-flex;
   flex-wrap: wrap;
}
.nav-sidebar a {
   display: inline-flex;
   align-items: center;
   height: 2.3rem;
   width: 100%;
   padding-left: 0.8rem;
}
.container-sidebar-right {
   grid-column: 2 / span 4;
   border: solid var(--clr-AA) 1px;
   display: flex;
   flex-direction: column;
}
.security-change {
   display: inline-flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 36rem;
   margin: 1rem 0 0.6rem 0;
   padding: 0 0 0.2rem 0;
}
.security-change strong {
   font-size: 1.1em;
}



/* Footer */
.footer {
   grid-area: footer;
   display: grid;
   grid-template-areas: ". footer-inner .";
   grid-template-columns: inherit;
   grid-template-rows: inherit;
   background: #485F6E;
}
.footer-inner {
   grid-area: footer-inner;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   height: var(--height-footer);
}

/* Browse Page */
.browse-section-popular .inner {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex-basis: 50%;
   justify-content: space-between;
}
/*.browse-section-popular .inner .card-popular:nth-child(2) {*/
/*   flex-basis: 100%;*/
/*}*/
.card-popular {
   width: 49%;
   margin: 1rem 0 0 0;
   background-color: #1d1717;
}


/***********************************************************************
 *                Styling
 ***********************************************************************/
/* Header */
.header {
   background: var(--clr-bg-header);
}
.header-inner-center a {
   color: var(--clr-text-light);
   font-weight: 500;
   font-size: var(--size-h1);

   text-decoration: none;
   /*border: solid rgba(0, 0, 0, 0) 1px;*/
}

/* Nav Bar Search */
#nav-search-input {
   font-size: 1em;
   border-radius: 0;
   background: none;
   color: var(--clr-text-light);
   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
   outline: none;
   border: none;
   border-bottom: solid 1px;
   border-image: var(--gradient-A);
 }
/*.gradient-link:hover {
   background-image: var(--gradient-B);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}*/
.header-inner-center a:hover {
   background: var(--gradient-B);
}
/* Icons & Badge Styling*/
.icon {
   font-size: 1.5rem;
}
.icon:hover {
   background: -webkit-gradient(linear, left top, right bottom, from(var(--clr-CA)), to(var(--clr-AA)));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   cursor: pointer;
}
.badge {
   background: var(--clr-CA);
   font-size: 0.5em;
   font-weight: 800;
   color: var(--clr-text-dark);
}
/* Dropdown Account Menu */
#dropdownAccountName {
   background: var(--gradient-B);
}
#dropdownAccountName {
   padding: 0.8rem 0 0.8rem 0;
   width: inherit;
   height: inherit;
   text-align: center;
}
.dropdown-content {
   background: var(--clr-bg-dropdown);
   backdrop-filter: blur(3px);
   font-size: 1rem;
   font-weight: 300;
}
.dropdown-content a {
   color: var(--clr-text-light);
   text-decoration: none;
   border: solid 1px rgba(0, 0, 0, 0);
}
.dropdown-content a:hover {
   background: var(--clr-bg-hover);
   border: solid 1px;
   border-image: var(--gradient-A);
}


/* Content & Footer */

.content {
   background: var(--clr-bg-content);
}
.footer {
   background: var(--clr-bg-footer);
}

/* Buttons */
.btn {
   width: 8rem;
   height: 2.4rem;
   display: inline-flex;
   justify-content: center;
   align-items: center;
}
.btn {
   cursor: pointer;
   text-decoration: none;
   color: var(--clr-text-light);
   font-size: var(--size-button);
   background-color: var(--clr-bg-btn);
   border: solid var(--clr-border-light) 1px;
}
.btn-clear {
   background: none;
   border: solid var(--clr-border-light) 1px;
}
.btn:hover {
   color: var(--clr-text-light) !important;
   background: var(--clr-bg-hover);
   border: solid 1px;
   border-image: var(--gradient-A);
}
.btn:visited {
   color: var(--clr-text-light);
}
.btn-solid {
   color: var(--clr-text-light);
   background: var(--clr-bg-btn);
   border: solid var(--clr-AA) 1px;
}
.btn-solid:hover {
   color: var(--clr-text-light) !important;
   background: var(--clr-bg-hover);
   border: solid 1px;
   border-image: var(--gradient-A);
}
.btn-solid:visited {
   color: var(--clr-text-light);
}



/* Flashes */
.flash {
   font-size: 0.9rem;
}
.flash-success {
   border: solid var(--clr-success) 1px;
   background: var(--clr-success);
}
.flash-fail {
   border: solid var(--clr-fail) 1px;
   background: var(--clr-fail);
}

/* Account Page */
.nav-sidebar {
   background: var(--clr-bg-header);
   font-family: 'Titillium Web', sans-serif;
}
.nav-sidebar a {
   color: var(--clr-text-h);
   text-decoration: none;
   border: solid rgba(0, 0, 0, 0) 1px;
   transition: all 150ms ease;
}
.nav-sidebar a:hover {
   background: var(--clr-bg-hover);
   outline: none;
   border: solid var(--clr-bg-header) 1px;
   border-image: var(--gradient-A);
}
.nav-sidebar-item:visited {
   color: var(--clr-text-h);
}
.security-change {
   border-bottom: solid var(--clr-offsetB) 1px;
}


/***********************************************************************
 *                @Media Queries - Screen Resizing
 ***********************************************************************/
@media all and (max-width: 1225px) {
   .main {
      grid-template-columns: 5vw 1fr 5vw;
   }
}
@media all and (max-width: 960px) {
   .main {
      grid-template-areas:
         "header header header"
         "content content content"
         "footer footer footer";
      grid-template-columns: 8px 1fr 8px;
      grid-template-rows: var(--height-header) 1fr var(--height-footer);
   }
   .header-inner-center a {
      width: 6rem;
   }
   .header-inner-right > .btn {
      width: 6rem;
   }
   .security-change {
      width: 100%;
   }
}
@media all and (max-width: 760px) {
   .body {
      margin: 0;
   }
   .main {
      grid-template-rows: 7rem 1fr 1rem;
      margin: 0;
   }
   .header-inner {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
   }
   .header-inner-left {
      visibility: hidden;
      height: 0;
      padding: 0;
      margin: 0;
   }
   .header-inner-center {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
   }
   .header-inner-center a {
      height: 2.3rem;
   }
   .header-inner-right {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 0 0.5rem 0;
   }
   .content {
   }
   .content-2col {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
   }
   .container-form {
      width: 100%;
   }
   .form-group-field {
      width: 100%;
   }
   .footer {
      height: var(--height-footer);
   }
   .container-sidebar {
      display: flex;
      flex-direction: column;
      row-gap: 1.2rem;
   }
}