/*
*  Variables
*/
div {
   --sk_width: 70vw;
   --sk_width_max: 70vw;
   --sk_headside_width: calc(14rem + 0.6rem * 4);
   --container-body-margin: 0.5rem 2rem;
   --container-body-padding: 0.25rem;
   --row-gap: calc(10vmin + 5px);
   --clr-AA: rgb(19, 225, 170);
   --clr-AB: rgb(34, 141, 112);
   --clr-BA: rgb(225, 153, 19);
   --clr-BB: rgb(141, 95, 34);
   --clr-CA: rgb(225, 19, 98);
   --clr-CB: rgb(130, 32, 69);
   --clr-text-light: rgb(250, 250, 250);
   --clr-text-dark: rgb(23, 23, 23);
   --clr-bg-hover: rgba(49, 49, 49, 0.6);
}

/*
*  Defaults
*/
* {
box-sizing: border-box;
}

body {
   background: #1f1f1f url("../static/bg_01 copy.jpg") no-repeat;
   background-size: 100%;
   font-family: 'Titillium Web', sans-serif;
   font-weight: 600;
   color: #f8f8f8;
   margin: 0;
   padding: 0;
}
h1 {
   font-size: 1.5em;
   margin: 0.1rem 0.6rem;
   padding: 0.2rem;
   font-weight: 300;
   /*border: solid #13e1aa 1px;*/
}
p {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   font-size: 0.8em;
   margin: 0 0.6rem 0.4rem 0.6rem;
   padding: 0.12rem;
   /*border: solid #13e1aa 1px;*/
}
a {
   color: var(--clr-AA);
}
a:visited {
   color: var(--clr-AB);
}
.btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin: 0 0.6rem;
   width: 7rem;
   height: 2.3rem;
   font-size: 1rem;
   font-weight: 600;
   color: var(--clr-text-dark);
   background: var(--clr-AA);
   border: solid var(--clr-AA) 1px;
   text-decoration: none;
   text-align: center;
}
.btn:visited {
   color: var(--clr-text-dark);
}
.btn:hover {
   text-decoration: underline;
   background: var(--clr-bg-hover);
   border: solid var(--clr-AA) 1px;
   color: var(--clr-text-light);
}

.btn-clear {
   color: var(--clr-text-light);
   background: rgba(248,248,248,0);
   border: solid #28e5c2 1px;
}
.btn-clear:visited {
   color: var(--clr-text-light);
}
.btn-clear:hover {
   background: var(--clr-bg-hover);
   color: var(--clr-text-light);
}

.btn-submit {
   margin: 0.5rem auto 0 auto;
   padding: 0;
   width: 9rem;
}

.flash {
   /*margin: var(--container-body-margin);*/
   display: inline-flex;
   line-height: 2rem;
   margin: var(--container-body-margin);
   text-align: left;
   color: var(--clr-text-light);
}
.flash-success {
   border: solid var(--clr-AA) 1px;
   background: var(--clr-AB);
}
.flash-fail {
   border: solid var(--clr-CA) 1px;
   background: var(--clr-CB);
}

/*
*                    Top Menu
*/
.menu-top {
   width: 100%;
   background: #181818;
   padding: 0;
   margin: 0;
   display: inline-flex;
   align-content: center;
   justify-content: center;
}

/* Inner Top */
.menu-top-inner {
   width: var(--sk_width);
   max-width: var(--sk_width_max);
   background: #181818;
   margin: 0 auto;
   padding: 0;
   display: inline-flex;
   flex-direction: row;
   justify-content: space-between;
   flex: 1;
}

/* Logo */
.menu-top-inner-logo {
   display: inline-flex;
   align-items: center;
   justify-content: flex-start;
   width: var(--sk_headside_width);
}
.menu-top-inner-logo img {
   width: 32px;
   align-content: flex-start;
}

/* Navigation */
.menu-top-inner-nav a {
   color: #ffffff;
   font-weight: 400;
   font-size: 1rem;
   letter-spacing: 2px;
   text-decoration: none;
   padding: 1rem 0.2rem;
   display: inline-block;
   width: 7rem;
   text-align: center;
   transition: all 300ms;
   border: solid rgba(0, 0, 0, 0) 1px;
}
.menu-top-inner-nav a:hover {
   background: rgba(49, 49, 49, 0.6);
   border: solid var(--clr-AA) 1px;
   text-decoration: underline;
}
.menu-top-inner-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
}
.menu-top-inner-nav li {
   flex: 4;
}
.menu-top-inner-nav .user {
   flex: 1;
}

/* User Panel */
.menu-top-inner-user {
   display: inline-flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: var(--sk_headside_width);
}

/*
*  Body Containers
*/
.main {
   width: var(--sk_width);
   max-width: var(--sk_width_max);
   padding: 1rem 0 1rem 0;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   background: rgba(16, 16, 16, 0.96);
}

.container-body {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   margin: var(--container-body-margin);
   padding: var(--container-body-padding);
   background: rgba(23, 23, 23, 0.8);
   /*border: solid #000000 1px;*/
   border-left: solid #ffffff 1px;
   /*border-radius: 0.5rem;*/
}

.container-row {
   display: inline-flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   flex: 1;
   gap: var(--row-gap);
}

/*
*  Registration & Login-related, including Forms
*/
.container-register {
   display: inline-flex;
   flex-direction: column;
   width: calc(50% - var(--row-gap));
}
fieldset.form-group-field {
   border: none;
}
.form-group {
   display: flex;
   flex-direction: column;
   margin: 1rem 0;
}
.form-control-label {
   font-weight: 400;
   font-size: 1em;
   margin: 0 0 0.4rem 0;
}
.form-control {
   height: 1.8rem;
   border: solid rgba(255, 255, 255, 0) 1px;
   background: rgba(255, 255, 255, 0.9);
}
.form-control:focus {
   border: solid var(--clr-BA) 2px;
   outline-style: solid;
   outline-color: var(--clr-BA);
}
.invalid-feedback {
   font-size: 0.75em;
   color: rgb(225, 19, 98);
   margin: 0.2rem 0 0 0;
}
.invalid-form {
   border: solid rgb(225, 19, 98) 2px;
}

.form-check {
   font-size: 1em;
   font-weight: 400;
}
#forgot-password {
   display: flex;
   justify-content: center;
   font-size: 0.8em;
   font-weight: 400;
   color: rgba(255, 255, 255, 0);
}





/* Resizing for Mobile & Tablet */
@media all and (max-width: 970px) {
   .menu-top-inner {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 100%;
   }
   .menu-top-inner-logo {
      display: none;
   }
   .menu-top-inner-nav {
      display: inline-flex;
      flex-direction: column;
   }
   .menu-top-inner-nav ul {
      flex-wrap: wrap;
   }
   .menu-top-inner-nav li {
      justify-content: center;
      width: auto;
      flex: 0;
   }
   .menu-top-inner-nav a {
      flex-direction: column;
      letter-spacing: 0;
      padding: 1rem 0.2rem;
      display: inline-flex;
      width: 7rem;
   }
   .menu-top-inner-user {
      width: auto;
      margin: 0.7rem 0 0.7rem 0;
      flex-wrap: wrap;
   }
   .menu-top-inner-user .btn {
      height: 1.9rem;
      margin: 0.3rem;
   }
   .container-body {
      max-width: 100%;
      width: 98vw;
   }
}


/*
@media all and (max-width: var(--sk_width)) {
   .menu-top-inner-nav ul {
      flex-wrap: wrap;
   }

   .menu-top-inner-nav li {
      flex: 1 1 50%;
   }

   .menu-top-inner-nav .user {
      flex: 1 1 33.33%;
   }
}

@media all and (max-width: 480px) {
   .menu-top-inner-nav li {
      flex-basis: 100%;
   }

   .menu-top-inner-nav .user {
      flex-basis: 50%;
   }
}*/