{% extends "layout.html" %}
{% block content %}
    <div class="content-container">
        <h1>Account Page</h1>
{#        <h1>{{ current_user.username }}</h1>#}
        <div class="container-sidebar">
            <nav class="nav-sidebar">
                <ul>
                    <li><a href="#">Account</a> </li>
                    <li><a href="#">Uploads</a> </li>
                    <li><a href="#">Downloads</a> </li>
                </ul>
            </nav>
            <div class="container-sidebar-right">
                <div class="container-account">
                    <h2>Account & Security Settings</h2>
                    <h3>Account Information</h3>
                </div>
                <div class="container-uploads">
                    <h2>Uploaded Packages</h2>
                    <p>Test</p>
                </div>
                <div class="container-downloads">
                    <h2>Downloaded Packages</h2>
                    <p>Test</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}