{% extends "layout.html" %}
{% block content %}
    <div class="content-container">
        <div class="container-sidebar">
            <div class="nav-sidebar-container">
                <nav class="nav-sidebar">
                    <ul class="nav-sidebar-list">
                        <li><a href="{{ url_for("account") }}">Overview</a></li>
                        <li><a href="{{ url_for("account_username") }}">Username</a></li>
                        <li><a href="{{ url_for("account_email") }}">Email Address</a></li>
                        <li><a href="{{ url_for("account_password") }}">Password</a></li>
                        <li><a href="{{ url_for("account_data") }}">Personal Data</a></li>
                        <li><a href="#">Delete Account</a></li>
                    </ul>
                </nav>
            </div>
            {% block account %}

            {% endblock %}
        </div>
    </div>
{% endblock content %}