<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkyAnim - Packages</title>
    <link rel="stylesheet" href="../static/style.css">

    <!-- External Refs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="menu-top-inner">
          <nav class="navigation">
             <ul>
                <li><a href="/home.html">Home</a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#">Browse</a></li>
                <li><a href="#">Upload</a></li>
             </ul>
          </nav>
       </div>
   </div>

    <div class="container-packages">
        <h1>Packages</h1>
        <p>Browse packages uploaded by other users. Once you have found one that you like, you can click on it to
        see what the requirements are. Make sure you have the requirements necessary and then upload them in a zipped
        file (only .zip is accepted). SkyAnim will then reorganize them to mirror that of the selected package and
        then make the altered file structure available to you.</p>
    </div>
</body>
</html>