{% extends "layout.html" %}
{% block content %}
    <div class="content-container">
        <h1>Browse Animation Packages</h1>
        <p>SkyAnim is a website meant to enable users to share animation packages with each other even if
            some animations are locked behind a Patreon subscription or similar paywalls. That doesn't mean
            that you can download copyright-protected work. Instead, users can upload their compiled animation
            package, for example a Dynamic Animation Replacer folder, containing many different animation files from
            various sources. You can then peruse the different uploaded packages and select one you like. After you
            have found such a package.</p>
        <p>If this sounds enticing to you please feel free to register to use the site. Since I let users upload a
        lot of data to the server for parsing, I opted to require accounts to prevent spam. Don't worry though, I only
        require you to validate your account via an email address.</p>
    </div>
{% endblock content %}