<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>skanhama - {{ title }}</title>
    {% else %}
        <title>skanhama</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for("static", filename="scripts.js") }}"></script>

    <!-- External Refs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5dbb6979db.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header-inner">
                <div class="header-inner-left">
                    <a href="{{ url_for('home') }}"><img id="logo" src="{{ url_for("static", filename="logo.svg") }}" alt="Logo and Home Link"></a>
                </div>
                <nav class="header-inner-center">
                    <ul id="nav-list">
                        <li><a href="{{ url_for('browse') }}">Browse</a></li>
                        <li><a href="{{ url_for('upload') }}">Upload</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                    <form name="search-nav">
                        <input type="text" id="search-input-nav" class="search-input" placeholder="Search..." autocomplete="off" onclick="navSearchFocus()">
                    </form>
                    <i class="fas fa-search"></i>
                </nav>
                <div class="header-inner-right">
                    {% if current_user.is_authenticated %}
                        <div class="header-inner-right-notifications">
                            <i class="far fa-bell"></i>
                        </div>
                        <div class="dropdown">
                        <i class="fas fa-user-circle"></i>
                            <button onclick="dropdownAccount()" class="btn btn-clear btn-dropdown">Account</button>
                            <div id="dropdownAccount" class="dropdown-content">
                                <h2>{{ current_user.username }}</h2>
                                <a href="{{ url_for('account') }}">Account Settings</a>
                                <a href="#">Uploaded Packages</a>
                                <a href="{{ url_for('logout') }}">Sign Out</a>
                            </div>
                        </div>
                    {% else %}
                        <a id="login" class="btn btn-clear" href="{{ url_for('login') }}">Log In</a>
                        <a id="register" class="btn btn-clear" href="{{ url_for('register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}

            {% endblock %}
        </div>
        <div class="footer">
            <div class="footer-inner">
                <p>Discuss SKANHAMA on Nexus Mods.</p>
            </div>
        </div>
    </div>
</body>
</html>