{% extends "layout.html" %}
{% block content %}
    <div class="content-container container-center">
        <div class="container-register">
            <h1>Login</h1>
            <p>Login using your SKANHAMA account.</p>
            <form method="POST" action="" class="form-main">
                {{ form.hidden_tag() }}
                <fieldset class="form-group-field">
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control invalid-form") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control invalid-form") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="content-2col">
                        <div class="form-check form-remember">
                            {{ form.remember(class="form-check-input") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                        <div class="form-button-right">
                            {{ form.submit(class="btn btn-solid btn-submit") }}
                        </div>
                    </div>
                    <small id="forgot-password"><a href="#">Forgot your password?</a></small>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}