{% extends "layout.html" %}
{% block content %}
    <div class="container-body container-row">
        <div class="container-register">
            <div class="container-centered">
                <h1>Create an Account</h1>
                <p>Create a new account just for this site. Please take a minute to read my
                    <a href="#">Privacy Policy</a> to fully understand your rights as a user.</p>
            </div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group-field">
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control invalid-form") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control invalid-form") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control invalid-form") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control invalid-form") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-clear btn-submit") }}
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="container-register container-nexus">
            <h1>Nexus Mods Account</h1>
            <p>Already have a Nexus Mods account? Sign in using it here. Login is handled through the Nexus Mods API.</p>
        </div>
    </div>
{% endblock %}