{% extends "layout.html" %}
{% block route_references %}
    <!-- Dropzone.js -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}">
    <script src="{{ url_for('static', filename='dropzone-min.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="content-container">
        <div class="upload-top">
            <h1 id="h1-upload">Upload an Animation Package</h1>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="upload-content">
                    <!-- Section - Basic Information -->
                    <fieldset class="fieldset fs-upload">
                        <div class="fs-upload-header">
                            <h2 class="upload-header-text">Details</h2>
                        </div>
                        <div class="fs-upload-base fs-upload-row">
                            <!-- Name -->
                            <div class="form-group" id="upload-basic-name">
                                {{ form.name.label(class="form-label fl-upload") }}
                                {% if form.name.errors %}
                                    {{ form.name(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class="form-control fc-upload") }}
                                {% endif %}
                            </div>
                            <!-- Authors -->
                            <div class="form-group" id="upload-basic-authors">
                                {{ form.author.label(class="form-label fl-upload") }}
                                {% if form.author.errors %}
                                    {{ form.author(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.author.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.author(class="form-control fc-upload") }}
                                {% endif %}
                            </div>
                            <!-- Version -->
                            <div class="form-group" id="upload-basic-version">
                                {{ form.version.label(class="form-label fl-upload") }}
                                {% if form.version.errors %}
                                    {{ form.version(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.version.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.version(class="form-control fc-upload") }}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                    <!-- Section - Categorization -->
                    <fieldset class="fieldset fs-upload">
                        <div class="fs-upload-header">
                            <h2 class="upload-header-text">Categorization</h2>
                        </div>
                        <div class="fs-upload-base fs-upload-row">
                            <!-- Category -->
                            <div class="form-group" id="upload-category-category">
                                {{ form.category.label(class="form-label fl-upload") }}
                                {% if form.category.errors %}
                                    {{ form.category(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.category.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="fl-hint">Select the main category. If your animation package comprises
                                    animations from several categories please select an "Overhaul" category.</p>
                                    {{ form.category(class="form-control fc-upload fc-select") }}
                                {% endif %}
                            </div>
                            <!-- Game -->
                            <div class="form-group" id="upload-category-game">
                                {{ form.game.label(class="form-label fl-upload") }}
                                {% if form.game.errors %}
                                    {{ form.game(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.game.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="fl-hint">Select the main base game your animation pack is compatible
                                        with.</p>
                                    {{ form.game(class="form-control fc-upload fc-select") }}
                                {% endif %}
                            </div>
                            <!-- NSFW -->
                            <div class="form-group" id="upload-category-nsfw">
                                {{ form.nsfw.label(class="form-label fl-upload") }}
                                {% if form.nsfw.errors %}
                                    {{ form.nsfw(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.nsfw.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="fl-hint">If your animation package pertains to NSFW animations such as
                                    sex animations or if you upload images that are of a sexual nature please check
                                    the box below.</p>
                                    {{ form.nsfw(class="form-control fc-upload", id="fc-nsfw") }}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                    <!-- Section - Descriptions -->
                    <fieldset class="fieldset fs-upload">
                        <div class="fs-upload-header">
                            <h2 class="upload-header-text">Description</h2>
                        </div>
                        <div class="fs-upload-base fs-upload-col">
                            <!-- Brief Summary -->
                            <div class="form-group" id="upload-desc-summary">
                                {{ form.summary.label(class="form-label fl-upload") }}
                                {% if form.summary.errors %}
                                    {{ form.summary(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.summary.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="fl-hint">Please provide short summary of your animation package which
                                        visitors see when browsing packages. Limited to 230 characters or less.</p>
                                    {{ form.summary(class="form-control fc-upload", id="fc-summary") }}
                                {% endif %}
                            </div>
                            <!-- Description -->
                            <div class="form-group" id="upload-desc-desc">
                                {{ form.description.label(class="form-label fl-upload") }}
                                {% if form.description.errors %}
                                    {{ form.description(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.description.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class="fl-hint">Detailed description of your animation package. Does not
                                    currently support any markdown language such as BBCode.</p>
                                    {{ form.description(class="form-control fc-upload", id="fc-desc") }}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                    <!-- Section - Requirements -->
                    <fieldset class="fieldset fs-upload">
                        <div class="fs-upload-header">
                            <h2 class="upload-header-text">Requirements</h2>
                        </div>
                        <div class="fs-upload-base fs-upload-col" id="fs-upload-requirements">
                            <!-- Requirements Interactive Input -->
                            <h2 class="fl-upload">Add Requirements</h2>
                            <p class="fl-hint">Please list all requirements needed to make your animation package
                            work. This includes both mods and animation files. Even if you only use one animation
                            from a larger set please list the full set as
                            a requirement. If you have animations released on for example a Patreon discord please
                            list that as well with a link to the Patreon subscription page.</p>
                            <div id="upload-reqs-inner">
                                <div class="upload-reqs-labels">
                                    <h3 class="upload-reqs-subtitle" id="urs-name">Name</h3>
                                    <h3 class="upload-reqs-subtitle" id="urs-link">Link</h3>
                                    <h3 class="upload-reqs-subtitle" id="urs-note">Note</h3>
                                </div>
                                <div class="upload-reqs-control">
                                    <input class="form-control fc-upload fc-reqs fc-reqs-name" type="text"/>
                                    <input class="form-control fc-upload fc-reqs fc-reqs-link" type="text"/>
                                    <input class="form-control fc-upload fc-reqs fc-reqs-note" type="text"/>
                                </div>
                                <div class="upload-reqs-control">
                                    <input class="form-control fc-upload fc-reqs fc-reqs-name" type="text"/>
                                    <input class="form-control fc-upload fc-reqs fc-reqs-link" type="text"/>
                                    <input class="form-control fc-upload fc-reqs fc-reqs-note" type="text"/>
                                    <i class="fas fa-minus-circle fc-reqs-delete icon icon-sm" id="reqsRemove1"></i>
                                </div>
                                <div class="upload-reqs-control">
                                    <input class="form-control fc-upload fc-reqs fc-reqs-name" type="text"/>
                                    <input class="form-control fc-upload fc-reqs fc-reqs-link" type="text"/>
                                    <input class="form-control fc-upload fc-reqs fc-reqs-note" type="text"/>
                                    <i class="fas fa-minus-circle fc-reqs-delete icon icon-sm" id="reqsRemove2"></i>
                                </div>
                                <i class="fas fa-plus-circle icon icon-md" id="icon-reqs-add"></i>
                            </div>
                            <!-- Actual Form Input -->
                            <div class="form-group" id="upload-requirements">
                                {{ form.requirements.label(class="form-label fl-upload") }}
                                {% if form.requirements.errors %}
                                    {{ form.requirements(class="form-control invalid-form") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.requirements.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.requirements(class="form-control fc-upload") }}
                                {% endif %}
                            </div>
                            <div class="btn btn-solid" id="reqs-manual">Update</div>
                        </div>
                    </fieldset>
                    <!-- Section - File Upload -->
                    <fieldset class="fieldset fs-upload">
                        <div class="fs-upload-header">
                            <h2 class="upload-header-text">File Upload</h2>
                        </div>
                        <!-- File Upload -->
                        <div class="fs-upload-base fs-upload-col">
                            <div class="form-group">
                                {{ form.package.label() }}
                                <p class="fl-hint">You can only upload one file. Please ensure that you zip the root
                                folder and that there are no other zipped files in the directory.</p>
                                <div class="dropzone" id="dropzoneAnimation">
                                </div>
                                {% if form.package.errors %}
                                    {% for error in form.package.errors %}
                                        <span>{{ error }}</span><br>
                                    {% endfor %}
                                {% endif %}
                                <div class="js-upload-error hidden" id="js-error-file">
                                    <p class="js-upload-error-text" id="js-error-file-text"></p>
                                    <i class="fas fa-times-circle js-error-dismiss" id="js-error-dismiss-file"></i>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <!-- Section - Images Upload -->
                    <fieldset class="fieldset fs-upload">
                        <div class="fs-upload-header">
                            <h2 class="upload-header-text">Media</h2>
                        </div>
                        <!-- Banner Upload -->
                        <div class="fs-upload-base fs-upload-col">
                            <div class="form-group">
                                {{ form.banner.label() }}
                                <p class="fl-hint">Upload a banner image that will be displayed at the top of the
                                download page and as a thumbnail when browsing. Full size is 230x230 pixels.</p>
                                <div class="dropzone" id="dropzoneBanner">
                                </div>
                                {% if form.banner.errors %}
                                    {% for error in form.banner.errors %}
                                        <span>{{ error }}</span><br>
                                    {% endfor %}
                                {% endif %}
                                <div class="js-upload-error hidden" id="js-error-banner">
                                    <p class="js-upload-error-text" id="js-error-banner-text"></p>
                                    <i class="fas fa-times-circle js-error-dismiss" id="js-error-dismiss-banner"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Gallery Images Upload -->
                        <div class="fs-upload-base fs-upload-col">
                            <div class="form-group">
                                {{ form.gallery.label() }}
                                <p class="fl-hint">Upload additional images that will be added to a gallery that users
                                can view. You can only upload 20 images.</p>
                                <div class="dropzone" id="dropzoneGallery">
                                </div>
                                {% if form.gallery.errors %}
                                    {% for error in form.gallery.errors %}
                                        <span>{{ error }}</span><br>
                                    {% endfor %}
                                {% endif %}
                                <div class="js-upload-error hidden" id="js-error-gallery">
                                    <p class="js-upload-error-text" id="js-error-gallery-text"></p>
                                    <i class="fas fa-times-circle js-error-dismiss" id="js-error-dismiss-gallery"></i>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <!-- Submit -->
                <fieldset class="form-group-field">
                    <div id="upload-submit-container">
                        <div id="upload-submit-a">
                            <h1>Finalize and Upload</h1>
                            <p>Before pressing the "Upload" button make sure that you have followed the guidance provided in
                            the form. Your animation package and media files will be scanned and may be rejected if they do
                            not meet the guidelines. Are you sure you want to upload?</p>
                        </div>
                        <div id="upload-submit-b">
                            <div class="form-button-upload">
                                {{ form.upload(class="btn btn-upload") }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}