{% extends "account.html" %}
{% block account %}
    <div class="container-sidebar-right">
        <h2>Personal Data</h2>
        <p>Your rights as a user are very important in my opinion. As a user you have, in accordance with the General
            Data Protection Regulation (EU) 2016/679 ("GDPR"), several rights afforded you (see article 12 to 23 of
            the GDPR). If you would like to know more please refer to my <a href="{{ url_for("about") }}">Privacy
            Policy</a></p>
    </div>
{% endblock %}