{% extends "account.html" %}
{% block account %}
    <div class="container-sidebar-right">
        <h2>Change Email</h2>
        <div class="container-form">
            <p>Changing email requires you to reactivate your account. An email with instructions will be sent
                to the new email address.</p>
            <form method="POST" action="" class="form-main">
                {{ form.hidden_tag() }}
                <fieldset class="form-group-field no-margin">
                    <div class="form-group">
                        <div class="form-subgroup">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control invalid-form") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-subgroup">
                            {{ form.confirm_email.label(class="form-control-label") }}
                            {% if form.confirm_email.errors %}
                                {{ form.confirm_email(class="form-control invalid-form") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_email(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group container-center">
                        {{ form.submit(class="btn btn-clear btn-submit") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}