{% extends "account.html" %}
{% block account %}
    <div class="container-sidebar-right">
        <h2>Overview</h2>
        <div class="security-change">
            <p><strong>Username</strong><br>{{ current_user.username }}</p>
            <a id="changeUsername" class="btn btn-clear btn-change" href="{{ url_for("account_username")}}">Change</a>
        </div>
        <div class="security-change">
            <p><strong>Email</strong><br>{{ current_user.email }}</p>
            <a id="changeEmail" class="btn btn-clear btn-change" href="{{ url_for("account_email")}}">Change</a>
        </div>
        <div class="security-change">
            <p><strong>Password</strong><br>******</p>
            <a id="changeEmail" class="btn btn-clear btn-change" href="{{ url_for("account_email")}}">Change</a>
        </div>
    </div>
{% endblock %}